body {
    font-family: Helvetica, sans-serif;
    max-width: 640px;
}

#youtubePlayer {
    width: 640px;
    height: 360px;
}

#followup_question {
    width: 640px;
    height: auto;
    display: none;
}

.number {
    padding: 10px;
    width: 80px;
    height: auto;
    display: inline-block;
}

.two, .three, .five, .seven {
    max-height: 100%; 
    max-width: 100%;
}

#factor_area {
    width: 640px;
    height: 400px;
    background-color: #099;
    border: 1px #000 solid;
}